<a href="https://colab.research.google.com/github/KojoAnnan3521/AI/blob/main/PythonStudies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
Family = ["Kwansema", "Kwamena", "Atta", "Aluah"]
Siblings = ["Kwekum", "Menama", "Adwoa", "Amasam"]
Family.extend(Siblings)
Friends = ["Nashipingi", "Revelation", "prosper", "gibbah", "reason"]
Family.extend(Friends)
print(len(Family))
print(Family)
print("\n")
NewFamily = []
print(NewFamily)
for x in Family:
  if "k" in x:
    NewFamily.append(x)
print(NewFamily)

print("\n")

NewList = [x.upper() for x in Family if "a" in x]
print(NewList)

13
['Kwansema', 'Kwamena', 'Atta', 'Aluah', 'Kwekum', 'Menama', 'Adwoa', 'Amasam', 'Nashipingi', 'Revelation', 'prosper', 'gibbah', 'reason']


[]
['Kwekum']


['KWANSEMA', 'KWAMENA', 'ATTA', 'ALUAH', 'MENAMA', 'ADWOA', 'AMASAM', 'NASHIPINGI', 'REVELATION', 'GIBBAH', 'REASON']

In [1]:
Number = [x for x in range(10) if x<=5]
print(Number)
Number.sort(reverse=True)
print(Number)

[0, 1, 2, 3, 4, 5]
[5, 4, 3, 2, 1, 0]

In [71]:
#Creating my own my function to sort numbers

def Myfunc(n):
  return n
Number = [0, 40, 90, 100, 50, 60, 5, 50, 69]
Number.sort(key=Myfunc)
print(Number) #Printing or displaying the ascending form of the numbers
Number.sort(reverse=True) #Sorting the numbers in descending order
print(Number) #Printing or displaying the descending form of the numbers

[0, 5, 40, 50, 50, 60, 69, 90, 100]
[100, 90, 69, 60, 50, 50, 40, 5, 0]

In [16]:
Friends = ["Nashipingi", "Revelation", "prosper", "gibbah", "reason"]
Friends.sort() #sorting the names of friends in ascending order
print(Friends)

print("\n")

Friends.sort(key=str.lower)
Friends.sort(reverse=True) #Sorting the names of friends in descending order
print(Friends)

print("\n")

Friends.sort(key=str.lower)# Making the sort case insensitive since it considers the upper case first before the lower case
print(Friends)
print("\n")
Friends.reverse()
print(Friends)

['Nashipingi', 'Revelation', 'gibbah', 'prosper', 'reason']


['reason', 'prosper', 'gibbah', 'Revelation', 'Nashipingi']


['gibbah', 'Nashipingi', 'prosper', 'reason', 'Revelation']


['Revelation', 'reason', 'prosper', 'Nashipingi', 'gibbah']

In [20]:
#Using the different copy() methods

#Using copy()
Friends = ["Nashipingi", "Revelation", "prosper", "gibbah", "reason"]

fam = Friends.copy() #copying the list in the Friends to fam
print(fam)

print("\n")

# Using the list() approach
fam = list(Friends)
print(fam)

print("\n")

#Using the slice operator [:]
fam = Friends[:]
print(fam)

['Nashipingi', 'Revelation', 'prosper', 'gibbah', 'reason']


['Nashipingi', 'Revelation', 'prosper', 'gibbah', 'reason']


['Nashipingi', 'Revelation', 'prosper', 'gibbah', 'reason']

In [61]:
#Using the f-string method to format strings
Price = 50.00

itemPrice = f"The price of the item is {Price} GHS"
print(itemPrice)

The price of the item is 50.0 GHS

In [44]:
# Using the join List approaches

# 1. Using the + operator
Friends = ["Nashipingi", "Revelation", "prosper", "gibbah", "reason"]
FriendNum = [1,2,3,4,5]
friends = Friends + FriendNum
print(friends)

print("\n")

# 2. Using the extend approach
Friends.extend(FriendNum)
print(Friends)

print("\n")

# 3. Using the append() method
Friends = ["Nashipingi", "Revelation", "prosper", "gibbah", "reason"]
FriendNum = [1,2,3,4,5]
for y in FriendNum:
  Friends.append(y)
print(Friends)

['Nashipingi', 'Revelation', 'prosper', 'gibbah', 'reason', 1, 2, 3, 4, 5]


['Nashipingi', 'Revelation', 'prosper', 'gibbah', 'reason', 1, 2, 3, 4, 5]


['Nashipingi', 'Revelation', 'prosper', 'gibbah', 'reason', 1, 2, 3, 4, 5]

In [18]:
# Time for Tuples

MyList = ("Beatrice", "Bonsu", "Elijah", "Kwame")
print(type(MyList))
print("\n")
print(len(MyList))
print("\n")
print(MyList)

# OR

print("\n")
Mylist = tuple(("Beatrice", "Bonsu", "Elijah", "Kwame"))
print(Mylist)

print("\n")

#Accesing tuples by indexing

print(MyList[1]) #Accessing the name with index 1 being Bonsu
print("\n")
print(MyList[-1]) #Accessing the name with index -1 being Kwame
print("\n")
print(MyList[0:4])#Accessing the names from index 0 to 3 since the name with index 4 is excluded
print("\n")
print(MyList[-3:-1])

print("\n")
#Checking if an item exist in a tuple

if "Elijah" in MyList:
  print("Elijah is in the tuple")
else:
  print("Elijah is not in the tuple")
print("\n")
#Updating tuples which is done by converting it to list before changing it back to tuples

Myfam = list(MyList)
Myfam [3] = "Kojo Annan"
MyList =tuple(Myfam)
print(MyList)

#OR
print("\n")
myFam =list(MyList)
myFam.append("Kojo")
Mylist= tuple(myFam)
print(MyList)

#Removing Kojo from the myFam

print("\n")

myfam =list(myFam)
myfam.remove("Kojo")
Mylist = tuple(myfam)
print(MyList)

# Adding the Kojo Again by adding a tuple to a tuple
print("\n")
My_Fam = ("Kojo",)
MyList += My_Fam
print(MyList)

<class 'tuple'>


4


('Beatrice', 'Bonsu', 'Elijah', 'Kwame')


('Beatrice', 'Bonsu', 'Elijah', 'Kwame')


Bonsu


Kwame


('Beatrice', 'Bonsu', 'Elijah', 'Kwame')


('Bonsu', 'Elijah')


Elijah is in the tuple


('Beatrice', 'Bonsu', 'Elijah', 'Kojo Annan')


('Beatrice', 'Bonsu', 'Elijah', 'Kojo Annan')


('Beatrice', 'Bonsu', 'Elijah', 'Kojo Annan')


('Beatrice', 'Bonsu', 'Elijah', 'Kojo Annan', 'Kojo')

In [23]:
#Unpacking in tuples. Tis is done by extracting the values back into variables

(Lovely, Caring, Good, Responsible, Kind) = MyList
print(Lovely)
print(Caring)
print(Good)
print(Responsible)
print(Kind)

print("\n")

#Using Asterisk*. This is used If the number of variables is less than the number of values. the remaining will be in List data type

(lovely, caring, *responsible) = MyList
print(lovely)
print(caring)
print(responsible)

Beatrice
Bonsu
Elijah
Kojo Annan
Kojo


Beatrice
Bonsu
['Elijah', 'Kojo Annan', 'Kojo']

In [51]:
#Loop Tuples
#Using for loop
for x in MyList:
  print(x)
print("\n")
#Using for loop with range() and len()
for j in range(len(MyList)):
  print(MyList[j])
print("\n")
#Using while loop
y = 0
while y < len(MyList):
  print(MyList[y])
  y =y + 1
print("\n")

Beatrice
Bonsu
Elijah
Kojo Annan
Kojo


Beatrice
Bonsu
Elijah
Kojo Annan
Kojo


Beatrice
Bonsu
Elijah
Kojo Annan
Kojo

In [59]:
My_Count=MyList.count("Kojo")
print(My_Count)

print("\n")

My_Index = MyList.index("Beatrice")
print(My_Index)

1


0

In [77]:
# Set
#Accessing items in a set

List = {6, True, 2, False, 3, 4, 5}
print(List)

print("\n")

for i in  List:
  print(i)

print("\n")

print("False" in (List))

{False, True, 2, 3, 4, 5, 6}


False
True
2
3
4
5
6


False

In [84]:
# Add set using the add()

List.add(7)
List.add(8)
List.add(9)
List.add(10)
print(List)

print("\n")

#Using the Update()

List_2 = {11,12,13,14,15,16,17,18,19,20}

List.update(List_2)
print(List)

#Or

print("\n")

List_3 = (21,22,23,24,25,26,27,28,29,30) #Adding a tuple to a set using the update()
List.update(List_3)
print(List)

{False, True, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}


{False, True, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}


{False, True, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30}

In [95]:
#Removing set item

print("\n")
List.discard(24)
List.discard(23)
List.discard(22)
List.discard(21)
print(List)
print ("\n")
#set loop

for x in List:
  print(x)

{False, True, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}


False
True
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [105]:
List_1 = {0,1,2,3,4,5}
List_2 = {6,7,8,9,10}
List_3 = {11,12,13,14,15}
List_4 = {16,17,18,19,20}

List_5 = List_1|List_2|List_3
print(List_5)

print("\n")

List_6 = List_1.union(List_2,List_3,List_4)
print(List_6)

print("\n")

List_1.update(List_2,List_3, List_4)
print(List_1)

print ("\n")

List7 = List_5.intersection(List_6)
print(List7)

print("\n")

#The intersection() method will return a new set, that only contains the items that are present in both sets.
List_1.intersection_update(List_2,List_3,List_4)
print(List_1)

print("\n")

#using the & operator instead of the intersection() method, and you will get the same result.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)
print("\n")

#The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}


{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}


{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}


{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}


set()


{'apple'}


{'banana', 'cherry'}